@use "../../styles/variables.scss" as *;

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 2rem 0 2rem;
  min-height: 60.0625rem;
  background-color: $azul-marinho;

  &__grafico {
    display: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    padding: 0 1.25rem 0 1.25rem;
  }

  &__container section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__container section img {
    text-align: center;
    width: 9rem;
    height: 9rem;
  }

  &__nome {
    font-size: 2rem;
    line-height: 3rem;
    color: rgba(188, 240, 247, 1);
    text-align: center;
    font-weight: 400;
    margin: 1rem 0;
  }

  &__links {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  &__links div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &__links div a img {
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.25s ease;

    &:hover {
      transform: translateY(-0.25rem);
    }
  }

  &__sobre {
    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
    color: $branco;
    width: 100%;
    margin-bottom: 2rem;
    width: 296px;
  }

  &__sobre span {
    color: $ciano-extra-claro;
  }
}

@media (min-width: 768px) {
  .about {
    min-height: 42rem;
    padding: 2rem 4rem;

    &__grafico {
      display: block;
      width: 12.5rem;
      max-height: 42rem;
      left: -20px;
      position: absolute;
    }

    &__container {
      display: flex;
      align-items: flex-start;
      width: 100%;
      margin-top: 4rem;
      padding-left: 9.8125rem;
      padding-right: 4.25rem;
    }

    &__container section {
      flex-direction: row;
    }

    &__container section img {
      height: 10rem;
      border-radius: 10%;
    }

    &__container_perfil {
      gap: 48px;
    }

    &__nome {
      font-size: 3rem;
      line-height: 72px;
    }

    &__links div a img {
      width: 2.7rem;
      height: 2.7rem;
    }

    &__links div {
      align-items: flex-start;
      justify-content: flex-start;
    }

    &__container_sobre {
      flex-direction: column !important;
      align-items: flex-start;
      margin-top: 48px;
      width: 100%;

      p {
        width: 100%;
        font-size: 1.28125rem;
        line-height: 2.1rem;
      }
    }
  }
}
