@use '_variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.28125rem;
}

h3 {
  font-size: 1.5625rem;
}

.pagination {
  background-color: v.$azul-marinho !important;
  width: .625rem;
  height: .625rem;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: inline-block;
  margin: 0 0.375rem;
}

.pagination-active {
  background-color: v.$ciano-claro !important;
}