@use "../../styles/variables.scss" as *;

.technologies {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  height: auto;
  background: $gradiente-6;

  &__container ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    margin-top: 2rem;
  }

  &__container ul li > div:first-child {
    display: flex;
    align-items: center;
    width: 100%;
    color: #bcf0f7;
    gap: 1rem;
    font-size: 1.28125rem;
    font-weight: 400;
    line-height: 31px;
    cursor: pointer;
    transition: all 0.4s;
  }

  &__highlight {
    border-top: 1px solid $ciano-claro;
    border-bottom: 1px solid $ciano-claro;
    padding: 1rem 0;
  }

  &__card {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 5.5rem;
      height: 5.5rem;
      box-shadow: 4px -1px 14px 0px rgba(69, 179, 194, 0.4);
      border: 1px solid;
      position: relative;
      border-radius: 10px;
      transition: all 0.3s;

      &::before {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        border-radius: 10px;
        padding: 2px;
        background: linear-gradient(
          90deg,
          #111e44 8%,
          #004b56 49%,
          #153a4d 100%
        );
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
      }

      img {
        width: auto;
        height: 1.75rem;
        max-width: 3.5rem;
      }

      span {
        color: rgba(230, 237, 255, 1);
        font-weight: 200;
        font-size: 0.5rem;
        margin-top: 0.5rem;
      }

      &:hover {
        transform: scale(1.05);
        box-shadow: 4px -1px 18px 0px rgba(69, 179, 194, 0.8);
      }
    }

    &__item__selected {
      background: $gradiente-3;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }
  }

  &__description {
    margin-top: 2rem;
    color: #d5fff7;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 100;
      color: #fff;
    }
  }
}

@media (min-width: 768px) {
  .technologies {
    padding: 2rem 4rem;
    min-height: 38rem;

    &__container {
      margin: 2rem 0;
      position: relative;
    }

    &__card {
      position: absolute;
      right: 1rem;
      top: 0;
      width: 68%;
      padding: 1rem !important;
      display: flex;
      gap: 2rem;

      &__item {
        width: 9.37rem;
        height: 7.75rem;
        transition: all 0.4s;
        cursor: pointer;

        img {
          width: auto;
          height: 70px;
          max-width: 102.4px;
        }

        span {
          font-size: 16px;
          font-weight: 100;
        }
      }
    }

    &__highlight {
      border-width: 20%;
      width: 10%;
    }

    &__container ul li > div:first-child {
      width: 30%;
    }

    &__description {
      position: absolute;
      bottom: 0;
      right: 1rem;
      width: 68%;
      display: flex;
      align-items: flex-start;
      padding-left: 1rem;
    }
  }
}
