@use '../../styles/variables.scss' as *;

.experience {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  height: auto;
  background-color: $azul-escuro;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__container ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    margin-top: 2rem;
  }

  &__container ul li input{
    display: none;
  }

  &__container ul li div {
    display: flex;
    align-items: center;
    width: 100%;
    color: $branco;
    gap: 1rem;
    font-size: 1.28125rem;
    font-weight: 400;
    line-height: 31px;
    cursor: pointer;
    transition: all 0.4s;
  }

  &__container ul li div img {
    width: 73px;
  }

  &__container ul li article {
    display: none;
    width: 100%;
    padding: 2rem;
    background-color: $azul-escuro;
    color: $branco;
    font-size: 1.28125rem;
    font-weight: 400;
    line-height: 31px;
  }

  &__container ul li input:checked + label article {
    display: block;
  }

  &__container ul li input:checked + label div {
      border-top: 1px solid $ciano-claro;
      border-bottom: 1px solid $ciano-claro;
      padding: 1rem 0;
  }
}