@use '../../../styles/variables.scss' as *;


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 11.25rem;
  background: rgb(21, 58, 77);
  background: linear-gradient(180deg, #00022B 8%, #010B34 47%, #021239 78%, #00022B 100%);
  padding: 2rem;


  &__Logos {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 96px;
      margin-bottom: 28px;
      margin: 0;
    }

    a {
      margin: 0;
      height: 2.25rem;
    }
  }

  &__copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $branco;
    font-size: 0.75rem;
    font-weight: 300;
    gap: 1.5rem;

    img {
      width: 4rem;
    }

    p {
      margin-bottom: .75rem;
    }
  }
}

@media screen and (min-width: 768px){
  .footer {
    padding: 2.5rem 9rem;
    min-height: 9rem;

    &__Logos {
      flex-direction: row;
      gap: 2rem;
      align-items: center;
    }

    &__copy {
      flex-direction: row-reverse;
      align-items: center;
      gap: 2rem;

      p {
        margin-bottom: 0;
      }
    }
  }
}