@use "../../styles/_variables.scss" as *;

.partners {
  padding: 2rem;
  background: $gradiente-5;
  display: flex;
  flex-direction: column;

  &__container {
    margin-top: 3.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__container .swiper {
    width: 90%;
  }

  &__container img {
    min-width: 200px;
    max-height: 32px;
    margin: 0 calc((100% - 200px) / 2);
    margin-bottom: 3.875rem;
  }

  // edita bullet points do swiper
  .pagination {
    background-color: $ciano-extra-claro !important;
  }
}

@media (min-width: 768px) {
  .partners {
    padding: 4rem;
    &__container {
      margin-top: 4.875rem;
    }

    &__container img {
      min-width: 300px;
      max-height: 48px;
      margin: 0 calc((100% - 300px) / 2);
      margin-bottom: 4.875rem;
    }
  }
}
