@use "../../styles/_variables.scss" as *;

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31.25rem;
  padding: 5.125rem 3.25rem;
  background: linear-gradient(2.67deg, #00022b 2.18%, #153a4d 97.77%);

  p {
    font-size: 2rem;
    color: $branco;
    font-weight: 200;
    line-height: 48px;
  }

  p span {
    font-weight: 700;
    color: $ciano-claro;
  }

  @media (min-width: 768px) {
    min-height: 100vh;

    p {
      font-size: 2.5rem;
      line-height: 60px;
    }
  }
}
