@use '../../styles/variables.scss' as *;

.projectsPreview {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  min-height: 80rem;
  background-color: $azul-marinho;
  gap: 2rem;
  color: $branco;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__buttonContainer {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .projectsPreview {
    padding: 2rem 4rem;
    min-height: 48rem;

    &__item {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    &__buttonContainer {
      justify-content: flex-end;
    }
  }
}