@use '../../../styles/variables.scss' as *;

.header {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 1.4375rem 2rem;
  background: rgb(11, 0, 43);
  background: transparent;
  height: 6.875rem;
  width: 100%;

  input {
    display: none;
  }

  input:checked ~ label > img {
    content: url('../../../assets/icons/close.svg');
    width: 25px;
    height: 26px;
    margin-left: .2rem;
  }

  input:checked ~ ul {
    display: flex;
  }

  label img {
    width: 2rem;
    height: 1.25rem;
  }

  ul {
    display: none;
    flex-direction: column;
    position: absolute;
    list-style: none;
    margin-top: 2rem;
    gap: 2rem;
    top: 6.875rem;
    background-color: $azul-escuro;
    width: 100%;
    padding: 2rem;
    margin: 0;
    margin-left: -2rem;
    height: 31.1875rem;
  }

  ul li {
    display: flex;
    flex-direction: column;
    height: 38px;
  }

  ul li a {
    color: $branco;
    font-size: 1.28125rem;
    text-decoration: none;
    font-weight: 200;
  }

  ul li hr {
    width: 100%;
    border: 0;
    height: 1px;
    background-color: $ciano-claro;
  }

  img {
    width: 4rem;
    height: 4rem;
  }

  div {
    width: calc(50% + 2rem);
    height: 6.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// responsivo para desktop e tablet:
@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;

    input, label {
      display: none;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
      gap: 7rem;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      position: inherit;
      width: auto;
      flex-direction: row;
      background-color: transparent;
      padding: 0;
      margin: 0;
      gap: 2rem;
      height: auto;
    }

    ul li {
      display: flex;
      flex-direction: row;
      height: auto;
      transition: all 0.2s;

      a {
        font-size: 1.125rem;
        line-height: 27px;
        font-weight: 400;
      }

      &:hover {
        border-bottom: 2px solid $ciano-extra-claro;
        padding: 0 0 4px 0;
        a {
          color: $ciano-claro;
        }
      }
    }

    img:hover {
      transition: all 1s;
      transform: rotate(360deg);
    }
  }
}