@use '../../../styles/variables.scss' as *;

.link {
  display: flex;
  justify-content: flex-start;
  padding-left: 1rem;
  color: $ciano-extra-claro;
  border-left: 4px solid $ciano-extra-claro;
  font-size: 2rem;
  font-weight: 200;
}

@media (min-width: 768px) {
  .link {
    font-size: 2.5rem;
  }
}