@use "../../styles/variables.scss" as *;

.services {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  min-height: 80rem;
  background-color: $azul-marinho;
  gap: 2rem;

  &__item {
    display: flex;
    flex-direction: column;
    color: $branco;

    h3 {
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2rem;
      color: #BCF0F7;
    }

    p {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.5rem;
      margin-top: 1rem;
    }

    hr {
      margin-top: 2rem;
      width: 100%;
      height: 1px;
      border-color: $ciano-claro;
    }
  }
}

@media (min-width: 768px) {
  .services {
    padding: 2rem 4rem;
    min-height: 44rem;

    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      margin-top: 2rem;

      hr {
        display: none;
      }

      .services__item {
        position: relative;
        display: flex;
        flex-direction: row;
        max-height: 10rem;
        transition: all 0.5s ease;
        padding: 1rem;
        border-radius: 0.5rem;
        opacity: 0.9;

        &:hover {
          box-shadow: rgba($ciano-claro, 1) 4px 8px 16px;
          transform: translateY(-0.5rem);
          opacity: 1;
        }

        &:after {
          content: "";
          position: absolute;
          left: calc(100% + 1rem);
          top: 0;
          bottom: 0;
          width: 1px;
          background: linear-gradient(
            0deg,
            rgba(11, 20, 46, 1) 8%,
            rgba(2, 52, 60, 1) 53%,
            rgba(5, 69, 102, 1) 100%
          );
        }

        // Isso remove a linha do último item da linha
        &:nth-child(2n):after {
          content: none;
        }

        // Isso remove a linha do último item do grid, se o número total for ímpar
        &:last-child:nth-child(odd):after {
          content: none;
        }

        h3 {
          font-size: 1.7rem;
          font-weight: 400;
          line-height: 3rem;
          margin: 0;
        }

        p {
          margin-top: 0.4rem;
          font-size: 0.9rem;
          font-weight: 300;
          line-height: 24px;
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
}
